@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(181, 181, 181);
    font-family: monospace;
}

.card{
    width: 25vw;
}

.logo {
    width: 15vw;
}

.pdf{
    width: auto;
    height:50dvh;
}
